body {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2px
}

.title {
  font-style: helvetica;
  font-size: 2rem;
  font-style: strong;
}

.score {
  font-style: helvetica;
  font-size: 1rem;
}

.controls {
  font-style: helvetica;
  font-size: 1rem;
}

.game-over {
  text-align: center;
  color: red;
  font-style: strong;
}

.container {
  display: grid;
  grid-template-columns: 25px repeat(auto-fill, 25px);
  place-items: center;
  justify-content: center;
  max-width: 500px;
}

.empty {
  display: flex;
  background-color: black;
  border: solid 1px #fff;
  width: 25px;
  height: 25px;
}

.snake {
  background-color: red;
  border: solid 1px black;
  width: 25px;
  height: 25px;
}

.food {
  background-color: limegreen;
  border: solid 1px #fff;
  width: 25px;
  height: 25px;
}


