* {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 25px repeat(auto-fill, 25px);
  place-items: center;
  max-width: 500px;

}

.square {
  background-color: black;
  border: solid 1px #fff;
  width: 25px;
  height: 25px;
}